<html>
  <body>
    <h1>IT 122 Home page</h1>
    
    <h2>Welcome students!<h2>
      
      <% students.forEach(function(student) { %>
       <li> a href="students/<%= student.id %>"><% = students.name %> </a></li> 
 <% }); %>
  
  </body>
</html>